@inherits BlazorLayoutComponent
<div class="main">
    <div class="top-row px-4">
        <h1>FMRL.link</h1>
        &nbsp;&nbsp;&nbsp;<small class="text-muted"><i>Ephemeral Message Service</i></small>
        <NavLink class="ml-md-auto"
                 Match=NavLinkMatch.All href="/about">About</NavLink>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
