
By using the FMRL.LINK web site ("Service") you are agreeing to be bound by the following terms and conditions ("Terms of Service").

<ul>
    <li>Use of the Service is at your own risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis without any representation or endorsement made and without warranty of any kind whether expressed or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.</li>
    <li>To the extent permitted by law, the Service, will not be liable for any indirect or consequential loss or damage whatsoever (including without limitation, loss of business, opportunity, data, profits) arising out of or in connection with the use of the Service.</li>
    <li>Content that is unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Service is prohibited.</li>
    <li>The failure of the Service to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and the Service and govern your use of the Service, superseding any prior agreements between you and the Service (including, but not limited to, any prior versions of the Terms of Service).</li>
</ul>
