@page "/about"
@layout EmptyLayout

<div class="main">
    <div class="top-row px-4">
        <h1>About FMRL.link</h1>
        <NavLink class="ml-md-auto"
                 Match=NavLinkMatch.All href="/">Home</NavLink>
    </div>
    <div class="content px-4">

        <p>
            This site was inspired by <a href="https://tmwsd.ws/" target="_blank" class="ml-md-auto">TMWSD</a>
            and created as an experiment to play around with Blazor.
        </p>

        <h2>Blazor</h2>
        <p>
            <a href="http://blazor.net/" target="_blank" class="ml-md-auto">Blazor</a>
            is an experimental technology that allows development of browser-side applications in C# using
            the power of <a href="https://webassembly.org/" target="_blank" class="ml-md-auto">WebAssembly</a>.
        </p>

        <h2>Thanks</h2>
        <p>
            Special thanks to these other fine projects and people:

            <ul>
                <li>
                    <a href="https://github.com/sotsera/sotsera.blazor.toaster"
                       target="_blank" class="ml-md-auto">Sotsera.Blazor.Toaster</a>
                </li>
                <li>
                    <a href="https://github.com/BlazorExtensions/Home"
                       target="_blank" class="ml-md-auto">Blazor Extensions</a>
                </li>
                <li>
                    Projects by <a href="http://tobiasahlin.com/"
                                   target="_blank" class="ml-md-auto">Tobias Ahlin</a>:
                    <ul>
                        <li><a href="http://tobiasahlin.com/moving-letters">Moving Letters</a></li>
                        <li><a href="https://github.com/tobiasahlin/SpinKit">SpinKit</a></li>
                        <li>Thanks <a href="https://github.com/ADefWebserver">Michael Washington</a>
                            for the <a href="http://lightswitchhelpwebsite.com/Blog/tabid/61/EntryId/4315/A-Nicer-Looking-Blazor-Loading-Page.aspx">tip</a></li>
                    </ul>
                </li>
                <li>
                    <i>more coming soon...</i>
                </li>
            </ul>
        </p>

    </div>
    <div>
        <hr />
        <div>v@(AppVersion.GetVersion())</div>
    </div>
</div>
<a href="https://github.com/ebekker/FMRL"
   ><img style="position: absolute; top: 56px; right: 0; border: 0;"
         src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"
         alt="Fork me on GitHub"></a>
