@page "/about"

<h1>About FMRL.LINK</h1>

<div>
    This site is powered by <a href="http://blazor.net" target="_blank" class="ml-md-auto">Blazor</a>.
</div>

<div>
    Special thanks to these other fine projects:

    <ul>
        <li>
            <a href="https://github.com/sotsera/sotsera.blazor.toaster"
               target="_blank" class="ml-md-auto">Sotsera.Blazor.Toaster</a>
        </li>
        <li>
            <a href="https://github.com/BlazorExtensions/Home"
               target="_blank" class="ml-md-auto">Blazor Extensions</a>
        </li>
        <li>
            <i>more coming soon...</i>
        </li>
    </ul>
</div>
